
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Indie+Flower&family=Poppins&family=Press+Start+2P&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;

}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}

h1{
    text-align: center;
}
.sec{
    display: flex;
    margin: 2rem;
    gap: 3rem;
    
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    flex-direction: column;
    gap: 32px;
}

.sec-range{
    display: inherit;
    gap: 12px;
}

input[type="color"]{
    width: 4rem;
    padding: 0;
    height: 4rem;
    border-radius: 35px;
    border: 0;

}
input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border-radius: 35px;
}

.sec-color{
    display: inherit;
    gap: 12px;
    align-items: center;
}

.select-color{
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
}

.buttons{
    display: inherit;
    flex-direction: column;
    gap: 16px;
}

.container{
    max-width:485px;
    max-height:485px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 0;
    background-color: red;
    box-shadow: 0px 0px 5px black;
    border: 1px solid;
  
}

.square{
    background-color: antiquewhite;
  
}

/* 
.dimension-64{
    background-color: aliceblue;
    width: 10.38px;
    height:10.38px ;

}
.dimension-32{
    
    background-color: aliceblue;
    width: 20.75px;
    height:20.75px ;
}
.dimension-16{
    border: 1px solid black;
    background-color: aliceblue;
    width: 41.5px;
    height: 41.5px;
}
.dimension-8{
  
    width: 83px;
    height: 83px;
    background-color: aliceblue;
}



 */